<%- include('../Partials/head.ejs') %>
<link rel="stylesheet" href="./css/user-pages.css">
</head>

<body>
    <%- include('../Partials/header.ejs') %>
    <%- include("../Partials/feedback.ejs") %>
    <div class="data-form">
        <form action="/ask-to-reset-password" method="POST">
            <h3>Password Reset</h3>
            <input type="hidden" name="_csrf" value="">
            <div class="form-floating m-0">
                <input type="text" class="form-control" id="email" name="userEmail" required>
                <label for="email">Email</label>
            </div>
            <button class="btn btn-light spend-smart-btn-dark mb-0" type="submit">Send Mail</button>
        </form>
    </div>
    <%- include('../Partials/end.ejs') %>