<head>
    <%- include('../Partials/head.ejs') %>
    <link rel="stylesheet" href="./css/feedback.css">
</head>

<body>
    <%- include('../Partials/header.ejs') %>
    <div class="container text-center">
        <div class="mt-5">
            <i class="fa-solid fa-circle-check mb-3"></i>
            <div class="alert alert-primary" role="alert">
                <h1>Your Password Resset Email Has Been Sent. Please Check Your
                    Inbox</h1>
            </div>
            <p>Note: This mail has a lifetime of 3 hours and will expire after
                that.</p>
            <p>Note: Be patient; it may take 10-30 minutes to be sent depending
                on the traffic and your connection.</p>
        </div>
    </div>
    <%- include('../Partials/end.ejs') %>
</body>