<%- include('../Partials/head.ejs') %>
<link rel="stylesheet" href="./css/user-pages.css">
</head>

<body>
    <%- include('../Partials/header.ejs') %>
    <%- include("../Partials/feedback.ejs") %>
    <div class="data-form">
        <form action="/signup" method="POST">
            <h3>SignUp</h3>
            <input type="hidden" name="_csrf" value="">
            <div class="d-flex">
                <div class=" form-floating m-1">
                    <input type="text" class="form-control" id="fname" name="userFname" required>
                    <label for="fname">First Name</label>
                </div>
                <div class="form-floating m-1">
                    <input type="text" class="form-control" id="lname" name="userLname" required>
                    <label for="lname">last Name</label>
                </div>
            </div>
            <div class="form-floating m-0">
                <input type="text" class="form-control" id="email" name="userEmail" required>
                <label for="email">Email</label>
            </div>
            <div class="form-floating m-0">
                <input type="password" class="form-control" id="password" name="userPassword" required>
                <label for="password">Password</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="cpassword" name="userCpassword" required>
                <label for="cpassword">Confirm Password</label>
            </div>
            <button class="btn btn-light spend-smart-btn-dark mb-0" type="submit">SignUp</button>
        </form>
    </div>
    <%- include('../Partials/end.ejs') %>