<!-- ChartJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.3/chart.min.js"
    integrity="sha512-fMPPLjF/Xr7Ga0679WgtqoSyfUoQgdt8IIxJymStR5zV3Fyb6B3u/8DcaZ6R6sXexk5Z64bCgo2TYyn760EdcQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Font Awsome -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js">
</script>
<!-- Bootstrap -->
<script src="./bootstrap-5.3.0-dist/js/bootstrap.min.js"></script>
<!-- Main Script -->
<script src="/js/main.js"></script>
<script src="/js/scrollAnimation.js"></script>
<script src="/js/createChart.js"></script>
</body>

</html>